<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../demo-component2/demo-component2.html">

<dom-module id="demo-component">
  <template>
    <style>
      :host {
        display: block;
        font-family: arial;
        background-color: silver;
      }
    </style>
    <h1>Datos personales</h1>
    <h3>Hola mi nombre es: [[nombre]], mi ID es: [[id]] </h3>
    <demo-component2></demo-component2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoComponent extends Polymer.Element {
      static get is() { return 'demo-component'; }
      static get properties() {
        return {
          id: {
            type: String,
            value: '12345'
          },
          nombre: {
            type: String
          },
          edad: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(DemoComponent.is, DemoComponent);
  </script>
</dom-module>
