<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demo-component2">
  <template>
    <style>
      :host {
        display: block;
        font-family: arial;
        background-color: grey;
        color: yellow;
      }
    </style>
    <h2>Bebidas para [[nombre]] de [[edad]] años</h2>
    <ul class="lista">
      <li>Café</li>
      <li>Té</li>
      <li>Caña</li>
    </ul>
    <input type="text" placeholder="Digite nombre..." value="{{nombre::input}}" />
    <input type="range" min="18" max="70" value="{{edad::input}}" />
  </template>

  <script>
    class DemoComponent2 extends Polymer.Element {
      static get is() { return 'demo-component2'; }
      static get properties() {
        return {
          id: {
            type: String,
            value: '12345'
          },
          nombre: {
            type: String
          },
          edad: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(DemoComponent2.is, DemoComponent2);
  </script>
</dom-module>
