<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

<dom-module id="alta-usuario">
  <template>
    <style>
      :host {
        display: block;
        padding: 100px;
      }
    </style>

    <iron-ajax id="hacerAlta" url="http://localhost:3000/api-uruguay/v1/users" method="POST" handle-as="json" body=[[body]] headers='{"Content-Type": "application/json"}' on-response="mostrarResultadoAlta" on-error="mostrarError">
    </iron-ajax>
    <div class="form-inline">
      <div class="form-group">
        <label for="inpNombre" >Nombre: </label>
        <!-- <div class="col-sm-10"> -->
          <input id="inpNombre" type="text" value={{nombre::input}} placeholder="digite su nombre" required />
        <!-- </div> -->
      </div>
      <div class="form-group">
        <label for="inpApell">Apellido: </label>
        <!-- <div class="col-sm-10"> -->
          <input id="inpApell" type="text" value={{apellido::input}} placeholder="digite su apellido"/>
        <!-- </div> -->
      </div>

      <div class="form-group">
        <label for="inpEmail">Email: </label>
        <!-- <div class="col-sm-10"> -->
          <input id="inpEmail" type="email" value={{email::input}} placeholder="xxx@xxx.xxx" reuqired />
        <!-- </div> -->
      </div>

      <div class="form-group">
        <label for="inpContra">Contraseña: </label>
        <!-- <div class="col-sm-10"> -->
          <input id="inpContra" type="password" value={{password::input}} required />
        <!-- </div> -->
      </div>

      <div class="form-group">
        <!-- <div class="col-sm-offset-2 col-sm-10"> -->
          <button class="btn btn-primary" on-click="enviarAlta">Registrarse</button>
        <!-- </div> -->
      </div>
    </div>
    <!-- <span hidden$="{{!altaOK}}">Alta correcta</span> -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaUsuario extends Polymer.Element {
      static get is() {
        return 'alta-usuario';
      }
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellido: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          body: {
            type: String
          },
          altaOK: {
            type: Boolean,
            value: false
          }
        };
      }
      mostrarResultadoAlta(resultado) {
        console.log("4. Llegaron los resultados");
        console.log(resultado);
        console.log("5. Proceso los resultados");
        this.altaOK = true;
        document.getElementById("mensajes").innerHTML = "Alta correcta...";
      }
      enviarAlta() {
        console.log("1. El usuario ha pulsado el botón");
        // this.$.hacerLogin.headers.email = this.email;
        // this.$.hacerLogin.headers.password = this.password;
        // this.$.hacerLogin.headers.Content-Type = "application/json";
        this.body = '{"first_name": "' + this.nombre + '", "last_name": "' + this.apellido + '", "email": "' + this.email + '", "password": "' + this.password + '"}';
        console.log(this.body);
        console.log("2. Voy a enviar la petición");
        this.$.hacerAlta.generateRequest();
        console.log("3. Petición enviada");
      }
      mostrarError(error) {
        console.log("4. Llega el error");
        console.log(error);
        this.altaOk = false;
      }
    }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
