<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
        padding: 100px;
      }
    </style>

    <iron-ajax id="hacerLogin" url="http://localhost:3000/api-uruguay/v1/logout" method="POST" handle-as="json" body=[[body]] headers='{"Content-Type": "application/json"}' on-response="mostrarResultadoLogout" on-error="mostrarError">
    </iron-ajax>

    <div class="row">
      <input type="email" value={{email::input}} />
      <!-- <input type="password" value={{password::input}} /> -->
      <button class="btn btn-danger" on-click="desloguear">Logout</button>
    </div>
    <span hidden$="{{!logado}}">Hasta luego...</span>
    <span hidden$="{{nolog}}">Usuario NO logueado</span>
    <span hidden$="{{noexis}}">Usuario incorrecto</span>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() {
        return 'logout-usuario';
      }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          body: {
            type: String
          },
          nolog: {
            type: Boolean,
            value: true
          },
          noexis: {
            type: Boolean,
            value: true
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      mostrarResultadoLogout(resultado) {
        console.log("4. Llegaron los resultados");
        console.log(resultado);
        console.log("5. Proceso los resultados");
        this.logado = true;
      }
      desloguear() {
        console.log("1. El usuario ha pulsado el botón");
        this.nolog = true;
        this.noexis = true;
        // this.$.hacerLogin.headers.email = this.email;
        // this.$.hacerLogin.headers.password = this.password;
        // this.$.hacerLogin.headers.Content-Type = "application/json";
        // this.body = '{"email": "' + this.email + '", "password": "' + this.password + '"}';
        this.body = '{"email": "' + this.email + '"}';

        console.log(this.body);
        console.log("2. Voy a enviar la petición");
        this.$.hacerLogin.generateRequest();
        console.log("3. Petición enviada");
      }
      mostrarError(error) {
        console.log("4. Llega el error");
        console.log(error);
        console.log(error.detail.request.status);
        this.logado = false;
        if (error.detail.request.status == 401) this.nolog = false;
        if (error.detail.request.status == 404) this.noexis = false;
      }
    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
