<!-- Load the Polymer.Element base class -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="home-page">
  <!-- Defines the element's style and local DOM -->
  <template>
    <style>
      :host {
        display: block;
        padding: 100px;
      }
    </style>

    <h1>Página principal</h1>
    <h2>Bienvenido...</h2>
  </template>

  <script>
    // Your new element extends the Polymer.Element base class
    class HomePage extends Polymer.Element {
      static get is() { return 'home-page'; }
    }
    //Register your new custom element so the browser can use it
    customElements.define(HomePage.is, HomePage);
  </script>
</dom-module>
